<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.leap.mars">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MarsApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ac7"
        android:label="@string/app_name"
        android:theme="@style/MainTheme">
        <activity android:name=".presenter.auth.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".presenter.main.MainActivity"/>
        <activity android:name=".presenter.auth.LoginActivity"/>
        <activity android:name=".presenter.auth.RegisterCheckActivity"/>
        <activity android:name=".presenter.auth.RegisterActivity"/>
        <activity android:name=".presenter.auth.AgreementActivity"/>
        <activity android:name=".presenter.user.ResetMobileActivity"/>
        <activity android:name=".presenter.user.ResetPwdActivity"/>
        <activity android:name=".presenter.user.AppAboutActivity"/>
        <activity android:name=".presenter.user.AppSettingActivity"/>
        <activity android:name=".presenter.user.UserSettingActivity"/>
        <activity android:name=".presenter.scan.QRScannerActivity"/>
        <!-- 显示软键盘,并让布局压缩 -->
        <activity
            android:name=".presenter.chat.ChatTypeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".presenter.chat.ChatVoiceActivity"/>
        <activity android:name=".presenter.auth.NavigationActivity"/>
        <activity android:name=".presenter.auth.activity.TextChatActivity"/>
        <activity android:name=".presenter.auth.activity.VoiceChatActivity"/>
        <activity android:name=".presenter.auth.activity.ControlActivity"/>
        <activity android:name=".presenter.auth.activity.PersonalActivity"/>
        <activity android:name=".presenter.auth.activity.RobotActivity"/>

        <service android:name=".presenter.auth.service.RobotService"/>
    </application>

</manifest>